<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
        Development release
    </div>
    <strong>Copyright &copy; 2021 <a href="#">First Challenge</a></strong> - Todos os direitos reservados.
</footer>
