<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" id="usernameDiv" href="#">
                
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Login" asp-page-handler="Logout">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </li>
    </ul>
</nav>
