<aside class="main-sidebar sidebar-dark-primary elevation-4">
    
    <a href="@ViewBag.Rooturl/dashboard" class="brand-link">
        <img src="~/adminlte/dist/img/AdminLTELogo.png" alt="FirstChallenge Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">First Challenge</span>
    </a>

    <div class="sidebar">
        <div class=" pb-2d-flex justify-content-center">
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="@ViewBag.Rooturl/dashboard" class="nav-link" id="da">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item" data-tree="">
                    <a href="#" class="nav-link" id="tc">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Clientes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@ViewBag.Rooturl/clientes" class="nav-link" id="lc">
                                <i class="far fa-circle nav-icon "></i>
                                <p>Lista de Clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@ViewBag.Rooturl/clientes/adicionar_cliente" class="nav-link" id="ac">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Adicionar cliente</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-tree="">
                    <a href="#" class="nav-link" id="tu">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>
                            Usuários
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@ViewBag.Rooturl/usuarios" class="nav-link" id="lu">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista de Usuários</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@ViewBag.Rooturl/usuarios/adicionar_usuario" class="nav-link" id="au">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Adicionar usuário</p>
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>
    </div>
</aside>
