﻿@page
@model testerazor.Pages.Clientes.Editar_clienteModel
@{
}

<div class="content-wrapper">

    <section class="content">
        <div class="row">
            <div class="col m-5 mt-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Alterar cliente</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-page="/clientes/editar_cliente" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="SucessoAdd" data-ajax-failure="FalhaAdd">
                            <input type="hidden" asp-for="Id"/>
                            <div class="form-group">
                                <label asp-for="RazaoSocial">Razao social</label>
                                <input asp-for="RazaoSocial" class="form-control">
                                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NomeFantasia">Nome Fantasia</label>
                                <input asp-for="NomeFantasia" class="form-control">
                                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CNPJ">CNPJ</label>
                                <input asp-for="CNPJ" class="form-control">
                                <span asp-validation-for="CNPJ" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Logradouro">Logradouro</label>
                                <input asp-for="Logradouro" class="form-control">
                                <span asp-validation-for="Logradouro" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Numero">Numero</label>
                                <input asp-for="Numero" class="form-control">
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Bairro">Bairro</label>
                                <input asp-for="Bairro" class="form-control">
                                <span asp-validation-for="Bairro" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Complemento">Complemento</label>
                                <input asp-for="Complemento" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="Municipio">Municipio</label>
                                <input asp-for="Municipio" class="form-control">
                                <span asp-validation-for="Municipio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CEP">CEP</label>
                                <input asp-for="CEP" class="form-control">
                                <span asp-validation-for="CEP" class="text-danger"></span>
                            </div>
                            <a href="@ViewBag.Rooturl/clientes" class="btn btn-secondary m-5">Cancelar</a>
                            <input type="submit" value="Salvar alteracao cliente" class="btn btn-success float-right m-5">
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
    </section>

</div>