﻿@page
@model testerazor.Pages.Clientes.IndexModel
@{
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lista de Clientes</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section>

    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Clientes</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                ID
                            </th>
                            <th style="width: 20%">
                                Razao Social
                            </th>
                            <th style="width: 20%">
                                Nome Fantasia
                            </th>
                            <th style="width: 10%">
                                CNPJ
                            </th>
                            <th style="width: 20%" class="text-center">
                                Endereço
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tabelaCliente">
                        @foreach (var cliente in Model.Clientes)
                        {
                            <tr>
                                <td>@cliente.Id</td>
                                <td><a>@cliente.RazaoSocial</a></td>
                                <td><a>@cliente.NomeFantasia</a></td>
                                <td class="project_progress"><a>@cliente.Cnpj</a></td>
                                <td class="project-state">
                                    <a>@cliente.Logradouro, @cliente.Numero<br>@cliente.Bairro<br>@cliente.Complemento</a>
                                    <br><small>@cliente.Municipio, @cliente.CEP</small>
                                </td>
                                <td class="project-actions text-right">
                                    <a asp-page="/clientes/editar_cliente" asp-route-Id="@cliente.Id" class="btn btn-info btn-sm m-1">
                                        <i class="fas fa-pencil-alt"></i> Editar
                                    </a>
                                    <a @*asp-page="/clientes/editar_cliente" asp-page-handler="Remover" asp-route-Id="@cliente.Id"*@ class="btn btn-danger btn-sm btn-delete-c" @*data-ajax="true" data-ajax-method="get" data-ajax-success="SucessoAdd" data-ajax-failure="FalhaAdd"*@>
                                        <i class="fas fa-trash deletar"></i> Deletar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>