﻿@page
@model testerazor.Pages.Usuarios.Editar_usuarioModel
@{
}

<div class="content-wrapper">

    <section class="content">
        <div class="row">
            <div class="col m-5 mt-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Alterar usuario</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-page="/usuarios/editar_usuario" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="SucessoAdd" data-ajax-failure="FalhaAdd">
                            <input type="hidden" asp-for="Id"/>
                            <div class="form-group">
                                <label asp-for="Nome">Nome Completo</label>
                                <input asp-for="Nome" class="form-control">
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Apelido">Apelido</label>
                                <input asp-for="Apelido" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Senha">Senha</label>
                                <input asp-for="Senha" class="form-control">
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telefone">Telefone</label>
                                <input asp-for="Telefone" class="form-control">
                            </div>
                            <input type="submit" value="Salvar alteracao usuario" class="btn btn-success float-right">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>