﻿@page
@model testerazor.Pages.Usuarios.IndexModel
@{
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lista de Usuarios</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" id="teste">Usuarios</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">
                                            ID
                                        </th>
                                        <th style="width: 20%">
                                            Nome Completo
                                        </th>
                                        <th style="width: 10%">
                                            Apelido
                                        </th>
                                        <th style="width: 20%">
                                            Email
                                        </th>
                                        <th style="width: 10%" class="text-center">
                                            Telefone
                                        </th>
                                        <th style="width: 20%">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tabelaUsuario">

                                    @foreach (var usuario in Model.Usuarios)
                                    {
                                        <tr>
                                            <td>@usuario.Id</td>
                                            <td><a>@usuario.NomeCompleto</a></td>
                                            <td><a>@usuario.Apelido</a></td>
                                            <td class="project_progress"><a>@usuario.Email</a></td>
                                            <td class="project-state"><a>@usuario.Telefone</a></td>
                                            <td class="project-actions text-right">
                                                <a asp-page="/usuarios/editar_usuario" asp-route-Id="@usuario.Id" class="btn btn-info btn-sm m-1">
                                                    <i class="fas fa-pencil-alt"></i> Editar
                                                </a>
                                                <a @*asp-page="/usuarios/editar_usuario" asp-page-handler="Remover" asp-route-Id="@usuario.Id"*@ class="btn btn-danger btn-sm btn-delete-u" data-id="@usuario.Id" @*data-ajax="true" data-ajax-method="get" data-ajax-success="SucessoAdd" data-ajax-failure="FalhaAdd"*@>
                                                <i class="fas fa-trash deletar"></i> Deletar </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                </div>
            </div>
        </div>
    </section>
</div>
