﻿@page
@model testerazor.Pages.Dashboard.IndexModel
@{
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Pagina inicial</h1>
                </div>
            </div><!-- /.row -->
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Gerenciamento de usuarios</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">CRUD basico</h6>

                            <p class="card-text">Visualizacao da lista de usuarios, adicao, edicao e exclusao individual.</p>
                            <a href="@ViewBag.Rooturl/usuarios" class="btn btn-primary">Lista de usuarios</a>
                            <a href="@ViewBag.Rooturl/usuarios/adicionar_usuario" class="btn btn-primary">Novo usuario</a>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Gerenciamento de clientes</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">CRUD basico</h6>

                            <p class="card-text">Visualizacao da lista de clientes, adicao, edicao e exclusao individual.</p>
                            <a href="@ViewBag.Rooturl/clientes" class="btn btn-primary">Lista de clientes</a>
                            <a href="@ViewBag.Rooturl/clientes/adicionar_cliente" class="btn btn-primary">Novo cliente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
